.WebsiteLayout {
  display: flex;
  flex-direction: column;
  background-color: #e6f0ff;
  box-sizing: border-box;
  border-radius: 20px;
  width: 97%;
  overflow-y: auto;
  scrollbar-width: none;
  margin: 1.5vw 0;
}
.WebsiteLayout main {
  flex-grow: 1;
}
