@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.App {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;

  background-color: #4158d0;
  background-image: linear-gradient(
    160deg,
    #8a99e0 0%,
    #f6f6f5 50%,
    #9896e4 100%
  );
}
